h1 {
    color: rgb(78, 68, 60);
    font-family: adelle, Georgia, "Times New Roman", serif;
    font-size: 36px;
    font-weight: normal;
    height: 44px;
    line-height: 44px;
    margin-bottom: 0 0 0 15px;
}

h2 {
    color: #0388a6;
}

.content {
    text-align: center;
}

code {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(239, 238, 230);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(239, 238, 230);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(239, 238, 230);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(239, 238, 230);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(241, 78, 50);
    display: inline;
    font-family: Courier, monospace;
    font-size: 14px;
    height: auto;
    line-height: 18px;
    margin-bottom: 14px;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

pre {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(239, 238, 230);
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(239, 238, 230);
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:rgb(239, 238, 230);
    border-right-style:solid;
    border-right-width:1px;
    border-top-color:rgb(239, 238, 230);
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-top-style:solid;
    border-top-width:1px;
    color:rgb(241, 78, 50);
    display:block;
    font-family:Courier, monospace;
    font-size:14px;
    height:72px;
    line-height:18px;
    margin-bottom:14px;
    margin-left:0px;
    margin-right:0px;
    margin-top:14px;
    overflow-x:auto;
    overflow-y:auto;
    padding-bottom:13px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    white-space:pre;
}

p {
    color: #4e443c;
}
